<div class="page-header" xmlns="http://www.w3.org/1999/html">
  <h1>Help</h1>
</div>
<div>
  <br/><br/>
  <p>Help yourself and Heaven will help you too. :)</p>
  <p>We hope you won't need any help to use this software.</p>
  <p>Never mind, just kidding... We'll be right back with detailed help. Currently, stuck in some other high priority stuff.</p>
  <p><i>Happy Invoicing!</i></p>
</div>