<div class="page-header"><h1>Listing sent emails</h1></div>

<table class="table table_listing">
  <thead>
  <th class="align_center">Date</th>
  <th class="align_center">Sender</th>
  <th class="align_center">Recipient</th>
  <th class="align_center">Type</th>
  <th class="align_center">subject</th>
</thead>

<tbody id="email_body">
  <%= render 'sent_emails' %>
</tbody>
</table>


