<div class="page-header"><h1>Listing sent emails</h1></div>

<table class="table table_listing">
  <thead>
  <th class="align_left">subject</th>
  <th class="align_left">Recipient</th>
  <th class="align_center">Type</th>
  <th class="align_center">Date</th>

</thead>

<tbody id="email_body">
  <%= render 'sent_emails' %>
  <tfoot id="paging_links">
  <%= render "paging" %>
  </tfoot>
</tbody>
</table>


