<div class="overview_box_heading">
  <h1>Invoices <span>(USD)</span></h1>
</div>
<div class="graff_content">
  <div class="graff_highlight">
    <%= image_tag "graph.png", :size => "447x191", :alt => "" %>
  </div>
</div>