<div class="overview_box_heading">
  <h1>Outstanding Invoices <span>(USD)</span></h1>
</div>
<div class="graff_description">
  <div class="graff_value">
    <div class="graff_digit">
      <ul>
        <li class="digit_content">$500.00</li>
        <li class="digit_description">Total Outstanding <span>(USD)</span></li>
      </ul>
    </div>
  </div>
  <!--graff_value-->
  <div class="graff_detail">
    <table cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        <td>0 - 30 days old</td>
        <td>: <span>$ 500.00</span></td>
      </tr>
      <tr>
        <td>30 - 60 days old</td>
        <td>: $ 0.00</td>
      </tr>
      <tr>
        <td>60 - 90 days old</td>
        <td>: $ 0.00</td>
      </tr>
      <tr>
        <td>Over 90 days old</td>
        <td>: $ 0.00</td>
      </tr>
      </tbody>
    </table>
    <a href="#">Account Aging Report</a>
  </div>
  <!--graff_detail-->
</div>
<!--graff_description-->