jQuery("button[class=close]").click();
jQuery("#invoice_payment_terms_id").append("<option value='<%= @payment_term.id%>' selected><%= @payment_term.description %></option>").trigger("liszt:updated");
