<%- model_class = Invoice -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Invoice</th>
    <th>Client</th>
    <th>Description</th>
    <th>Total</th>
    <th>Date</th>
    <th>Status</th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody id="invoice_body">
    <%= render 'invoice' %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_invoice_path,
            :class => 'btn btn-primary' %>

