jQuery('tbody#invoice_body').html('<%= escape_javascript render("invoice") %>');
jQuery('.paginator').html('<%= escape_javascript(paginate(@invoices, :remote => true).to_s) %>' +
    '<div class="paging_info"><%= page_entries_info @invoices %><%#= custom_per_page %></div>');
jQuery("table.table_listing").trigger('update');