<%- model_class = Invoice -%>
<div class="invoice_preview">
  <div class="content_container">
    <div class="payment_content">
      <div class="payment_container">
        <div class="payment_corner <%= @invoice.status %>"></div>
        <%= render :partial=>"show_invoice"%>
        <!-- payment_invoice_data -->
      </div>
      <!-- payment_container -->
    </div>
    <!-- payment_content -->
  </div>
  <!--content_container-->
</div>
