<div class="client_contact">
  <div class="fields">
    <div class="field_row">
      <div class="label_field left single"><span>Email</span></div>
      <div class="medium_field">
        <input type="text" id="" name="" value=""/>
      </div>
      <div class="label_field right">Home Phone</div>
      <div class="small_field"><input type="text" id="" name="" value=""/></div>
    </div>
    <!--field_row-->

    <div class="field_row description">
      <div class="label_field left single">Contact Name</div>
      <div class="small_field">
        <input type="text" id="" name="" value=""/>
        <ul class="field_description">
          <li>First name</li>
        </ul>
      </div>
      <div class="small_field right">
        <input type="text" id="" name="" value=""/>
        <ul class="field_description">
          <li>Last name</li>
        </ul>
      </div>
      <div class="label_field right single">Mobile</div>
      <div class="small_field"><input type="text" id="" name="" value=""/></div>
    </div>
  </div>
</div>