<% inlineform_event = params[:add_more] ? "inlineform:save_and_add_more" : "inlineform:save" %>
$("#invoice_client_id").trigger(inlineform_event, "<option value='<%= @client.id%>' selected><%= @client.organization_name %></option>");
