<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table_listing client_listing">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Phone</th>
      <th class="align_center" width=75><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id="client_body">
    <%= render 'clients' %>
  </tbody>
</table>


