<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h2>Dear, <%= @user.first_name %></h2> <br/>
<p>
  Rs. <%= @amount %> has been paid successfully against invoice # <%= @invoice%>
</p>

</body>
</html>


