<td colspan="8" style="border-top: 1px solid #DDDDDD; text-align: left; ">
  <div class="paginator">
    <%= paginate @items, :remote => true %>
    <div class="paging_info">
      <%= page_entries_info @items unless @items.blank? %>
      <%= custom_per_page %> per page
    </div>
  </div>
</td>