<div class="page-header">
  <h1>Listing items</h1>
</div>

<table class="table table_listing item_listing">
  <thead>
    <th>Item name</th>
    <th>Item description</th>
    <th>Unit cost</th>
    <th>Quantity</th>
    <th>Tax 1</th>
    <th>Tax 2</th>
    <!--<th>Track inventory</th>-->
    <th>Inventory</th>
    <th>Actions</th>
  </thead>

  <tbody id="item_body">
  <%= render 'items' %>
  </tbody>
</table>




