<td colspan="8" style="border-top: 1px solid #DDDDDD; text-align: left; ">
  <div class="paginator">
    <%= paginate @taxis, :remote => true %>
    <div class="paging_info">
      <%= page_entries_info @taxis %>
      <%#= custom_per_page %>
    </div>
  </div>
</td>