<div class="page-header"><h1>Listing taxes</h1></div>

<table class="table table_listing">
  <thead>
    <th class="align_center">Name</th>
    <th class="align_center">Percentage</th>
    <th class="align_center" width=75>Actions</th>
  </thead>

<tbody id="tax_body">
<%= render 'taxes' %>
</tbody>
</table>


