.clients{
    /*total width 832*/
    .grid_table table col.one{
        width : 33px;
    }
    .grid_table table col.two{
        min-width : 234px;
    }
    .grid_table table col.three{
        width: 142px;
    }
    .grid_table table col.four{
        width : 235px;
    }
    .grid_table table col.five{
        min-width : 130px;
    }
    .grid_table table col.six{
        min-width : 70px;
    }

}
#detail, #contact{
  cursor: pointer;
}
