.clients{
    .grid_table table col.one{ /*check box*/
        width : 33px;
    }
    .grid_table table col.two{ /*organization*/
        min-width : 234px;
    }
    .grid_table table col.three{ /*contacts*/
        width: 138px;
    }
    .grid_table table col.four{ /*email*/
        width : 235px;
    }
    .grid_table table col.five{ /*phone*/
        min-width : 130px;
    }
    .grid_table table col.six{ /*actions*/
        min-width : 70px;
    }

}
#detail, #contact{
  cursor: pointer;
}
