.content_container{
    margin: auto;
	p{
		margin-bottom: 0px;
	}
	ul{
		margin: 0;
	}
	ul li{
		list-style: none;
		text-decoration: none;
	}
	h1{
		font-family: 'Dosis', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 22px;
		color: #464646;
		line-height: 0.5;
		letter-spacing: 0;
		/*font-weight: normal;*/
		text-transform: capitalize;
		margin: 0px;
	}
	h1 span{
		font-size: 14px;
	}
	h1.small{
		font-size: 22px;
	}
	/*General CSS Ends*/

	/*Content Css Starts*/
	.row-fluid .span4 {
		width: 32.924%;
	}
	.row-fluid .span8 {
		width: 64.2%;
		margin-left: 2.6641%;
	}
	.overview_box{
		width: 100%;
		border: 1px solid #d7d7d7;
		border-radius: 4px;
		padding: 21px 0 3px 0;
		overflow: hidden;
		margin: 0 0 20px 0;
                box-shadow: 0 1px 2px #F0F0F0 inset;
	}
	.overview_box_heading{
		float: left;
		width: 100%
	}
	.overview_box_heading h1{
		padding: 0 18px 21px 18px;
	}
	/*Content Left Css Starts*/
	.day_session{
		float: left;
		width: 100%;
		padding: 0 0 3px 0;
	}
	.day_session_heading{
		float: left;
		width: 100%;
		border-bottom: 1px solid #d7d7d7;
	}
	.day_session_heading p{
		padding: 9px 20px 3px 20px;
	}
	.day_session_content{
		float: left;
		width: 84.6%;
		padding: 0 19px 0 19px;
	}
	.day_session_content_detail{
		float: left;
		border-bottom: 1px solid #d7d7d7;
		width: 100%;
		padding: 5px 0 8px 0;
	}
	.day_session_content_detail ul{
		margin: 0 0 -2px 0;
		overflow: hidden;
	}
	.day_session_content_detail ul li{
		float: left;
	}
	.day_session_title a{
		color: #00ace5;
		padding: 0 5px 0 0;
	}
        .day_session_title a:hover{
                text-decoration: underline;
        }
	.day_session_amount{
		color: #464646;
		padding: 0 6px 0 0;
	}
	.day_session_currency{
		font-size: 10px;
		color: #C6C6C6;
		text-transform: uppercase;
		padding: 1px 0 0 0;
	}
	.day_session_content_detail p{
		float: left;
		width: 100%;
		color: #C6C6C6;
	}
	.no_border{
		border: none;
	}
	.osb_content{
		float: left;
		width: 100%;
		text-align: center;
		padding: 0 0 26px 0;
	}
	.osb_content p{
		color: #464646;
		line-height: 1.7;
		padding: 0 19px 17px 19px;
		text-align: left;
	}
        .osb_content a{
                background: #00BDE5;
                border-radius: 4px;
                color: #FFFFFF;
                display: inline-block;
                font-family: "Dosis",sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                height: 38px;
                line-height: 36px;
                min-width: 170px;
                text-align: center;
                text-transform: uppercase;
                font-weight: normal;
        }
	/*.osb_content a{
		display: inline-block;
		background: #00bde5;
		border-radius: 3px;
		height: 34px;
		line-height: 33px;
		padding: 0 20px;
		font-family: 'Dosis', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 24px;
		color: #ffffff;
		font-weight: normal;
		text-transform: capitalize;
		text-decoration: none;
		letter-spacing: 0.1px;
	}*/
	.osb_content a:hover{
		background: #00bde5;
                text-decoration: none;
	}
	.getting_start{
		float: left;
		width: 100%;
	}
	.getting_start ul{
		padding: 0 19px 10px 19px;
	}
	.getting_start ul li{
		 background: url("/assets/bullet.png") no-repeat left;
                 margin: 0 0 4px;
	}
	.getting_start ul li a{
		display: block;
		color: #00bde5;
		text-decoration: none;
                padding: 0 0 0 11px;
	}
	.getting_start ul li a:hover, .getting_start ul li:hover{
		text-decoration: underline;
	}
	/*Content Left Css Ends*/

	/*Content Right Css Starts*/
	.graff_content{
		float: left;
		width: 100%;
	}
	.graff_highlight{
		float: left;
		width: 91.8%;
		padding: 0 20px 30px 20px;
		border-bottom: 1px solid #d7d7d7;
		margin: 0 0 23px 0;
	}
        .graff_highlight img{
                height: 191px;
        }
	.graff_description{
		float: left;
		width: 91.8%;
		padding: 0 20px 24px 20px;
	}
	.graff_value{
		float: left;
		width: 266px;
		text-align: center;
	}
	.graff_digit{
		display: inline-block;
	}
	.digit_content{
		font-family: 'Dosis', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 42px;
		color: #00bde5;
		font-weight: normal;
		padding: 39px 0 8px 0;
                margin: 0 0 8px 0;
		letter-spacing: 0.2px;
                display: block;
	}
	.digit_description{
		color: #464646;
	}
	.digit_description span{
		font-size: 10px;
	}
	.graff_detail{
		float: right;
	}
	.graff_detail table tr td{
		color: #464646;
	}
	.graff_detail table tr td:first-child{
		padding: 0 5px 0 0;
	}
	.graff_detail table tr td span{
		color: #00bde5;
	}
	.graff_detail a{
		display: block;
		padding: 13px 0 0 0;
		color: #00bde5;
		text-decoration: none;
	}
        .graff_detail a:hover{
                text-decoration: underline;
        }
}