/* 
    Document   : invoice
    Created on : Jan 1, 2013, 10:11:51 AM
    Author     : imran
    Description:
        Invoice page styling.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.invoice_grid_fields td{
    padding-right: 5px;
}

.invoice_grid_fields .name input{width: 150px}
.invoice_grid_fields .description input{width: 300px}
.invoice_grid_fields .unit_cost input{width: 100px}
.invoice_grid_fields .quantity input{width: 100px}
.invoice_grid_fields .tax1 input{width: 50px}
.invoice_grid_fields .tax2 input{width: 50px}



