.invoice {

  .grid_table table {
    col.one {
    /*check box*/
      width: 33px;
    }
    col.two {
    /*invoice*/
      min-width: 92px;
    }
    col.three {
    /*clients*/
      width: 200px;
    }
    col.four {
    /*description*/
      width: 103px;
    }
    col.five {
    /*total*/
      min-width: 82px;
    }
    col.six {
    /*date*/
      min-width: 90px;
    }
    col.seven {
    /*due date*/
      min-width: 90px;
    }
    col.eight {
    /*status*/
      min-width: 90px;
    }
    col.nine {
    /*actions*/
      min-width: 70px;
    }
  }
}

.invoice_model{
    .cross_btn{
        margin-top: -93px;
    }
    .grid_table table {
        col.one {/*invoice*/
            min-width: 82px;
        }
        col.two {/*clients*/
            min-width: 450px;
        }
        col.three { /*date*/
            min-width: 90px;
        }
        col.four { /*amount*/
            min-width: 82px;
        }
    }
    .btn_large.small_case{
        text-transform: none;
        padding: 0 15px;
    }
}
.chzn-container {
  .add-new {
    background-color: #00BDE5;
    border-radius: 3px 3px 3px 3px;
    color: white;
    height: 26px;
    margin: 10px;
    padding: 6px 0 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-family: "Dosis Regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.invoices_with_payments {
  position: absolute;
  width: 840px;
  height: auto;
  z-index: 1101;
  display: none;
  border: 1px solid #ccc;
  background-color: #FFF;
}

._form {
  .grid_table table {
    tr.no_hover:hover {
      background-color: #FFFFFF;
    }
    td.add_line_item_row {
      padding: 15px 0 0 32px;
    }
  }
}

table.invoice_grid_fields {
  .action_links {
    .remove_item {
      background: url("/assets/del-move-icons.png") no-repeat scroll 0 0 transparent;
      float: left;
      height: 10px;
      width: 7px;
    }
    .remove_item:hover{
      background-position: 0 -12px;
    }
    .sort_icon {
      background: url("/assets/del-move-icons.png") no-repeat scroll -7px 0 transparent;
      float: left;
      height: 12px;
      margin-left: 4px;
      width: 9px;
    }
    .sort_icon:hover{
      background-position: -7px -12px;
    }
  }
  tbody{
    tr td:first-child{
      vertical-align: middle;
    }
  }
}


