.invoice {

  .grid_table table {
    col.one {
      width: 33px;
    }
    col.two {
      min-width: 71px;
    }

    col.two {
      min-width: 71px;
    }
    col.three {
      width: 154px;
    }
    col.four {
      width: 181px;
    }
    col.five {
      min-width: 75px;
    }
    col.six {
      min-width: 83px;
    }
    col.seven {
      min-width: 83px;
    }
    col.eight {
      min-width: 82px;
    }
    col.nine {
      min-width: 70px;
    }
  }
}

.chzn-container {

  .add-new {
    background-color: #00BDE5;
    border-radius: 3px 3px 3px 3px;
    color: white;
    height: 26px;
    margin: 10px;
    padding: 6px 0 0;
    text-align: center;
    vertical-align: middle;
    a {
      vertical-align: middle;
      color: white;
    }
  }
}
