.payment{

    .grid_table table col.one{ /*check box*/
        width : 33px;
    }
    .grid_table table col.two{ /*invoice*/
        width : 94px;
    }
    .grid_table table col.three{ /*clients*/
        width: 208px;
    }
    .grid_table table col.four{ /*type*/
        width : 82px;
    }
    .grid_table table col.five{ /*notes*/
        width : 186px;
    }
    .grid_table table col.six{ /*date*/
        width : 90px;
    }
    .grid_table table col.seven{ /*date*/
        width : 82px;
    }
    .grid_table table col.eight{ /*actions*/
        width : 65px;
    }

}
