.payment{

    .grid_table table col.one{ /*check box*/
        width : 33px;
    }
    .grid_table table col.two{ /*invoice*/
        min-width : 94px;
    }
    .grid_table table col.three{ /*clients*/
        width: 278px;
    }
    .grid_table table col.four{ /*type*/
        width : 82px;
    }
    .grid_table table col.five{ /*notes*/
        min-width : 116px;
    }
    .grid_table table col.six{ /*date*/
        min-width : 90px;
    }
    .grid_table table col.seven{ /*date*/
        min-width : 82px;
    }
    .grid_table table col.eight{ /*actions*/
        min-width : 65px;
    }
    .btn_large.submit {
        margin: -7px 0 0 0;
      }

}
