.sent_email{

    .grid_table table col.one{
        width : 141px;
    }
    .grid_table table col.two{
        min-width : 186px;
    }
    .grid_table table col.three{
        width: 258px;
    }
    .grid_table table col.four{
        width : 120px;
    }
    .grid_table table col.five{
        min-width : 134px;
    }
    

}
