.sent_email{

    .grid_table table col.one{ /*subject*/
        width : 270px;
    }
    .grid_table table col.two{  /*receipt*/
        min-width : 270px;
    }
    .grid_table table col.three{ /*type*/
        width: 214px;
    }
    .grid_table table col.four{ /*date*/
        width : 90px;
    }
    .grid_table table col.five{
        min-width : 180px;
    }
    

}
