.sent_email{

    .grid_table table col.one{ /*date*/
        width : 90px;
    }
    .grid_table table col.two{
        min-width : 186px;
    }
    .grid_table table col.three{ /*receipt*/
        width: 214px;
    }
    .grid_table table col.four{ /*type*/
        width : 170px;
    }
    .grid_table table col.five{ /*subject*/
        min-width : 180px;
    }
    

}
