// Place all the styles related to the Taxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_title span.required_small {
  color: #464646;
  font-size: 13px;
  font-weight: bold;
  margin-top: 0;
}
#create_tax {
  .modal {
    tr:first-child {
      background: none;
    }
    .modal-body {
      min-height: 0;
    }
  }

}