.taxes{

    .grid_table table col.one{
        width : 33px;
    }
    .grid_table table col.two{
        min-width : 354px;
    }
    .grid_table table col.three{
        width: 378px;
    }
    .grid_table table col.four{
        min-width : 70px;
    }
   
}
