.unpaid_invoice{

    .grid_table table col.one{
        width : 33px;
    }
    .grid_table table col.two{
        min-width : 91px;
    }
    .grid_table table col.three{
        width: 186px;
    }
    .grid_table table col.four{
        width : 70px;
    }
    .grid_table table col.five{
        min-width : 97px;
    }
    .grid_table table col.six{
        min-width : 106px;
    }
    .grid_table table col.seven{
        min-width : 105px;
    }

}
