.unpaid_invoice{

    .grid_table table col.one{
        width : 33px;
    }
    .grid_table table col.two{
        min-width : 82px;
    }
    .grid_table table col.three{
        width: 186px;
    }
    .grid_table table col.four{
        width : 117px;
    }
    .grid_table table col.five{
        min-width : 82px;
    }
    .grid_table table col.six{
        min-width : 90px;
    }
    .grid_table table col.seven{
        min-width : 90px;
    }

}
