<div class="report_header">
  <div class="report_header_content">
    <table class="report_date">
      <tr>
        <td>Date Rage<input name="fromDate" type="text" id="fromDate" value=""/> to</td>
        <td><input name="toDate" type="text" id="toDate" value=""/></td>
        <td>Client</td>
        <td class="report_clients"><%= collection_select "criteria", "client_id", Client.all, :id, :organization_name, {:prompt => ""},{"data-placeholder" => "Select a client...", :class => "client chzn-select"} %></td>
        <td>Type</td>
        <td><%= select_tag "criteria[payment_method]", PAYMENT_METHODS, {:class => "payment-method chzn-select"} %></td>
        <td class="report_update"><a href="#">Go</a></td>
      </tr>
    </table>
    <!--<div class="report_date">-->
      <!--<div class="control_name">-->
        <!--<p>Date Range</p>-->
      <!--</div>-->
      <!--<input name="fromDate" type="text" id="fromDate" value=""/>-->

      <!--<span>to</span>-->
      <!--<input name="toDate" type="text" id="toDate" value=""/>-->
    <!--</div>-->
    <!--<div class="report_clients">-->
      <!--<div class="control_name">-->
        <!--<p>Clients</p>-->
        <!--<%#= collection_select "criteria", "client_id", Client.all, :id, :organization_name, {:prompt => ""},{"data-placeholder" => "Select a client...", :class => "client chzn-select"} %>-->
      <!--</div>-->
      <!--<div class="control_name">-->
        <!--<p>Type</p>-->
        <!--<%#= collection_select "criteria", "payment_method", PAYMENT_METHODS, "" , "", {:prompt => ""},{"data-placeholder" => "Select payment method...", :class => "medium chzn-select"} %>-->
        <!--<%#= select_tag "criteria[payment_method]", PAYMENT_METHODS, {:class => "payment-method chzn-select"} %>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="report_update">-->
      <!--<a href="#">Go</a>-->
    <!--</div>-->
  </div>
</div>
<!-- report_header -->