<ul>
  <li><%= link_to "Payments Collected", "/reports/payments_collected" %></li>
  <li><%= link_to "Payments Collected", "/reports/payments_collected" %></li>
  <li><%= link_to "Payments Collected", "/reports/payments_collected" %></li>
</ul>