<div class="page-header">
  <h1>Reports</h1>
</div>
<ol style="margin-top:25px;">
  <li><%= link_to "Payments Collected", "/reports/payments_collected" %></li>
  <li><%= link_to "Payments Collected", "/reports/payments_collected" %></li>
  <li><%= link_to "Payments Collected", "/reports/payments_collected" %></li>
</ol>