<div class="reports content_container">
  <div class="grey_container">
    <div class="grey_container_left">
      <div class="grey_container_btm">
        <div class="grey_container_top">
          <%= render "criteria_controls" %>
          <div class="report_content">
            <%= render "#{@report.report_name}" %>
          </div>
          <!-- report_content -->

        </div>
        <!-- grey_container_top -->
      </div>
      <!-- grey_container_btm -->
    </div>
    <!-- grey_container_left -->
  </div>
  <!-- grey_container -->
</div><!--content_container-->