<!DOCTYPE html>
<html>
<head>
<title>Open Source Billing</title>
<style type="text/css">
    @import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    .content {
        clear: both;
        margin: auto;
        min-height: 360px;
        overflow: hidden;
        padding: 50px 0 0;
        width: 758px;
    }

    .invoice_preview {
        /*General CSS Ends*/
        /* Payment Css Starts */
    }

    .invoice_preview p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #000000;
        margin-bottom: 0px;
    }

    .invoice_preview a {
        text-decoration: none;
    }

    .invoice_preview ul {
        margin: 0;
    }

    .invoice_preview ul li {
        list-style: none;
        text-decoration: none;
    }

    .invoice_preview h1 {
        font-family: 'Dosis', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 30px;
        color: #00bde5;
        font-weight: normal;
        text-transform: capitalize;
        margin: 0px;
    }

    .invoice_preview h1 span {
        font-size: 14px;
    }

    .invoice_preview h1.small {
        font-size: 20px;
    }

    .invoice_preview .content_header {
        float: left;
        width: 100%;
        border-bottom: 1px solid #99E5F5;
    }

    .invoice_preview .content_header h1 {
        float: left;
        padding: 0 0 2px;
        line-height: normal;
    }

    .invoice_preview .content_header ul {
        float: right;
        padding: 20px 0 0 0;
    }

    .invoice_preview .content_header ul li {
        float: left;
        height: 12px;
        border-right: 1px solid #00ace5;
    }

    .invoice_preview .content_header ul li a {
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        font-size: 13px;
        color: #00ace5;
        padding: 0 13px 0 13px;
        line-height: 10px;
    }

    .invoice_preview .content_header ul li a:hover {
        text-decoration: underline;
    }

    .invoice_preview .no_border {
        border: none !important;
    }

    .invoice_preview .no_padding {
        padding-right: 0px !important;
    }

    .invoice_preview .enter_payment_btn {
        float: left;
        text-align: center;
        width: 100%;
        padding: 30px 0;
    }

    .invoice_preview .enter_payment_btn a {
        background-color: #00BDE5;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        color: #FFFFFF;
        display: inline-block;
        font-family: 'Dosis', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 38px;
        padding: 0 25px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .invoice_preview .pdf_link {
        width: 100%;
        float: left;
    }

    .invoice_preview .pdf_link p a {
        color: #00ACE5;
        float: right;
        margin: 0 0 7px 0;
    }

    .invoice_preview .pdf_link p a:hover {
        color: #00ACE5;
        text-decoration: underline;
    }

    .invoice_preview .payment_content {
        float: left;
        width: 100%;
    }

    .invoice_preview .payment_container {
        border: 1px solid #d7d7d7;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        overflow: hidden;
    }

    .invoice_preview .payment_corner {
        float: left;
        position: absolute;
        margin: -1px 0 0 -1px;
        *margin: -1px 0 0 -760px;
        width: 100px;
        height: 100px;
    }

    .invoice_preview .sent_green {
        background: url(/assets/sent_green.png) no-repeat;
    }

    .invoice_preview .sent_blue {
        background: url(/assets/sent_blue.png) no-repeat;
    }

    .invoice_preview .draft {
        background: url(/assets/draft.png) no-repeat;
    }

    .invoice_preview .disputed {
        background: url(/assets/disputed.png) no-repeat;
    }

    .invoice_preview .draft_partial {
        background: url(/assets/draft_partial.png) no-repeat;
    }

    .invoice_preview .partial {
        background: url(/assets/partial.png) no-repeat;
    }

    .invoice_preview .payment_invoice_data {
        float: left;
        width: 92.3%;
        position: relative;
        padding: 56px 29px 0 29px;
        min-height: 800px;
    }

    .invoice_preview .primary_address {
        float: left;
        width: 100%;
    }

    .invoice_preview .primary_address address, .invoice_preview .secondary_address address {
        padding: 0 0 0 31px;
        margin: 0;
    }

    .invoice_preview .primary_address address p {
        margin: 0 0 -2px 0;
    }

    .invoice_preview .payment_summary {
        float: left;
        width: 100%;
        padding: 17px 0 0 0;
    }

    .invoice_preview .secondary_address {
        float: left;
    }

    .invoice_preview .bold {
        font-weight: bold;
    }

    .invoice_preview .payment_summary_table {
        float: right;
        padding: 10px 0 0 0;
    }

    .invoice_preview .payment_summary_table col.first {
        width: 132px;
    }

    .invoice_preview .payment_summary_table col.second {
        width: 148px;
    }

    .invoice_preview .payment_summary_table table tr td:first-child,
    .invoice_preview .payment_summary_table table th:first-child {
        text-align: left;
        padding: 0 0 2px 10px;
    }

    .invoice_preview .payment_summary_table table tr td:last-child,
    .invoice_preview .payment_summary_table table th:last-child {
        text-align: right;
        padding: 0 10px 0 0;
    }

    .invoice_preview .payment_summary_table table tr th {
        font-weight: bold;
    }

    .invoice_preview .single_border {
        border-top: 1px solid #d7d7d7;
    }

    .invoice_preview .double_border {
        border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
    }

    .invoice_preview .payment_invoice_table {
        float: left;
        width: 100%;
        padding: 55px 0 0 0;
    }

    .invoice_preview .top_padding {
        padding-top: 5px !important;
    }

    .invoice_preview .bottom_padding {
        padding-bottom: 3px !important;
    }

    .invoice_preview .time_entry {
        float: left;
        width: 100%;
        padding: 0 0 30px 0;
    }

    .invoice_preview .time_entry table {
        width: 100%;
    }

    .invoice_preview .time_entry table col.first {
        width: 140px;
    }

    .invoice_preview .time_entry table col.second {
        width: 278px;
    }

    .invoice_preview .time_entry table col.third {
        width: 100px;
    }

    .invoice_preview .time_entry table col.forth {
        width: 82px;
    }

    .invoice_preview .time_entry table col.fifth {
        width: 100px;
    }

    .invoice_preview .time_entry table tr {
        height: 30px;
    }

    .invoice_preview .time_entry table th {
        background-color: #898989;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        border-right: 1px solid #ffffff !important;
    }

    .invoice_preview .time_entry table td {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #000000;
        border-bottom: 1px solid #d7d7d7;
    }

    .invoice_preview .time_entry table td span {
        font-size: 10px;
        text-transform: uppercase;
    }

    .invoice_preview .time_entry table td, .invoice_preview .time_entry table th {
        padding: 0 11px;
    }

    .invoice_preview .time_entry table th:first-child {
        border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
    }

    .invoice_preview .time_entry table th:last-child {
        border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
    }

    .invoice_preview .align_left {
        text-align: left;
    }

    .invoice_preview .align_right {
        text-align: right;
    }

    .invoice_preview .align_center {
        text-align: center;
    }

    .invoice_preview .time_entry .no_border {
        border-right: none !important;
    }

    .invoice_preview .payment_total {
        float: left;
        width: 100%;
        padding: 0 0 40px 0;
    }

    .invoice_preview .terms_notes {
        float: left;
        width: 100%;
    }

    .invoice_preview .terms_notes h3 {
        font-size: 16px;
        font-weight: bold;
        line-height: normal;
        margin: 0px;
    }

    .invoice_preview .terms {
        float: left;
        padding: 0 52px 0 0;
        width: 47%;
    }

    .invoice_preview .notes {
        float: left;
        width: 45%;
    }

    .invoice_preview .payment_footer {
        bottom: 0;
        float: left;
        padding: 62px 0 32px;
        position: absolute;
        width: 700px;
    }

    .invoice_preview .payment_footer p {
        float: right;
        font-size: 10px;
        text-align: right;
    }

    @media all {
        .invoice_preview .payment_footer p {
            width: 100%;
        }
    }

    .invoice_preview .payment_footer p img {
        padding: 0 0 0 4px;
        float: right;
    }




</style>
<%= stylesheet_link_tag "show_invoice"  %>
</head>
<body>
<!-- MAIN CONTAINER START-->
<div class="mainContainer">
  <!-- HEADER START -->
  <div class="header">
    <div class="logo">
      <!--<%= image_tag "logo.png", :size => "185x30" %>-->
    </div>
  </div>
  <!-- HEADER END -->
  <!-- CONTENT AREA START-->
  <div class="content">
    <!-- <div class="notice"><%#= notice %></div> -->
    <%= yield %>
  </div>
  <!-- CONTENT AREA END-->

</div>
<!-- MAIN CONTAINER END -->
</body>
</html>
